*{
  margin: 0px;
  box-sizing: border-box;
  font-family: Slab;
}
@font-face{
  src: url(font/RobotoSlab-VariableFont_wght.ttf);
  font-family: Slab;
}
body{
  background-color: rgb(204, 204, 204);
}
a{
  text-decoration: none;
  outline: none;
}

header{
  width: 100%;
  height: 5rem;
  color: whitesmoke;
  background-color: rgb(49, 49, 49);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.3rem;
  padding: 8px .8rem;
  position: sticky;
  top: 0px;
}

#social-media{
  display: flex;
  flex-direction: row;
  align-items: center;
}
#social-media h2{
  margin-right: 15px;
}
i{
  color: whitesmoke;
  font-size: 1.4rem;
  
  margin-left: 10px;
}
a{
  text-decoration: none;
  outline: none;
}

.App{
  display: flex;
  flex-direction: row;
}